<%= render(Primer::BaseComponent.new(**@system_arguments)) do %>
  <%= render(Primer::BaseComponent.new(tag: :div, display: :flex, align_items: :flex_end)) do %>
    <%= text_input %>
    <%= trailing_action %>
  <% end %>

  <% if @text_input_validation_message %>
    <div class="FormControl-inlineValidation mt-1">
      <span class="FormControl-inlineValidation--visual">
        <%= render(Primer::Beta::Octicon.new(icon: :"alert-fill", size: :xsmall, aria: { hidden: true })) %>
      </span>
      <span><%= @text_input_validation_message %></span>
    </div>
  <% end %>

  <% if caption %>
    <%= caption %>
  <% end %>
<% end %>
