<div class="d-flex gap-3 flex-items-center flex-wrap">
  <div class="d-flex flex-column flex-items-center gap-2">
    <%= render(Primer::OpenProject::AvatarWithFallback.new(src: nil, alt: "Test User", unique_id: 100, size: 16)) %>
    <span class="text-small">16px</span>
  </div>
  <div class="d-flex flex-column flex-items-center gap-2">
    <%= render(Primer::OpenProject::AvatarWithFallback.new(src: nil, alt: "Test User", unique_id: 100, size: 20)) %>
    <span class="text-small">20px</span>
  </div>
  <div class="d-flex flex-column flex-items-center gap-2">
    <%= render(Primer::OpenProject::AvatarWithFallback.new(src: nil, alt: "Test User", unique_id: 100, size: 24)) %>
    <span class="text-small">24px</span>
  </div>
  <div class="d-flex flex-column flex-items-center gap-2">
    <%= render(Primer::OpenProject::AvatarWithFallback.new(src: nil, alt: "Test User", unique_id: 100, size: 32)) %>
    <span class="text-small">32px</span>
  </div>
  <div class="d-flex flex-column flex-items-center gap-2">
    <%= render(Primer::OpenProject::AvatarWithFallback.new(src: nil, alt: "Test User", unique_id: 100, size: 40)) %>
    <span class="text-small">40px</span>
  </div>
  <div class="d-flex flex-column flex-items-center gap-2">
    <%= render(Primer::OpenProject::AvatarWithFallback.new(src: nil, alt: "Test User", unique_id: 100, size: 48)) %>
    <span class="text-small">48px</span>
  </div>
  <div class="d-flex flex-column flex-items-center gap-2">
    <%= render(Primer::OpenProject::AvatarWithFallback.new(src: nil, alt: "Test User", unique_id: 100, size: 64)) %>
    <span class="text-small">64px</span>
  </div>
  <div class="d-flex flex-column flex-items-center gap-2">
    <%= render(Primer::OpenProject::AvatarWithFallback.new(src: nil, alt: "Test User", unique_id: 100, size: 80)) %>
    <span class="text-small">80px</span>
  </div>
</div>
